@{
    ViewData["Title"] = "Đặt hàng thành công";
}
<div class="container text-center mt-5 p-5 bg-light rounded shadow">
    <div style="font-size: 100px;">✅</div>
    <h1 class="text-success fw-bold">ĐẶT HÀNG THÀNH CÔNG!</h1>
    <p class="lead mt-3">Cảm ơn bạn đã lựa chọn <strong>Phone Store</strong>. <br /> Chúng tôi sẽ gọi điện xác nhận đơn hàng trong ít phút tới.</p>
    <div class="mt-4">
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary btn-lg px-5">Quay về trang chủ</a>
    </div>
</div>